body {
  font-size: 16px;
  color: #fff;
  background-color: #0099ff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000019;
  border-radius: 0;
  border: 0;
}

#logo-img {

}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

#beef{
  position:relative;
    border:1px solid black;
    border: 1px solid black;
    background-color:	#808080;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;

}

#chicken{
  position:relative;
    border:1px solid black;
    border: 1px solid black;
    background-color:	#808080;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;

}

#sushi{
  position:relative;
    border:1px solid black;
    border: 1px solid black;
    background-color:	#808080;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;

}
